
<div class="listing">
  <h2>List of Patients</h2>
  <div>
  <%= link_to "New Patient", new_patient_path, method: :get, class: 'btn btn-primary' %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Doctor</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= link_to patient.first_name, patient_path(patient) %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.age %></td>
      <td><%= patient.gender.titleize %></td>
      <td><%= patient.doctor&.first_name %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient), class: 'btn btn-warning' %></td>
      <td><%= link_to 'Delete', [patient], method: :delete, class: 'btn btn-danger' %><td>
    </tr>
  <% end %>
  </tbody>
</table>